$CL_BACKGROUND: #13151a;
$CL_PRIMARY: #f8da19;
$CL_PRIMARY_DARK:#baa51e;
$CL_TEXT: #fff;

*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Afacad', sans-serif;
}

html, body{
    height: 100%;
    background-color: $CL_BACKGROUND;
}

main{
    width: 100%;
    height: 100%;
}

h1{
    color: $CL_TEXT;
}

p{
    color: darken($CL_TEXT, 10);
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow:
      0 1px 1px rgba(0, 0, 0, 0.2),
      0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
  }