@import "_globals.scss";

.sticky__board{
    position: relative;
    background-color: $CL_BACKGROUND;
    width: 100%;
    height: 100%;
}

.sticky__note{
    background-color: yellow;
    width: 200px;
    height: 100px;
    position: absolute;
    cursor: grab;
}
