@import "_globals.scss";

.sticky__board{
    position: relative;
    background-color: $CL_BACKGROUND;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
}

.sticky__note{
    background-color: $CL_PRIMARY;
    width: 250px;
    min-height: 100px;
    position: absolute;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.372);
    // transition: max-height .3s ease-in-out;
    .pin{
        position: absolute;
        top: -30px;
        left: 50%;
        filter: saturate(1);
        z-index: 1;
        width: 50px;
        transform: translateX(-50%);
        user-select: none;
    }
    .content{
        padding: 10px;
        font-size: 24px;
        textarea{
            font-size: 24px;
            background-color: $CL_PRIMARY;
            outline: none;
            text-decoration: underline;
            text-decoration-color: #8b835349;
            border: none;
            width: 100%;
            max-width: 230px;
            height: inherit;
            resize: none;
        }
        span{
            font-size: 18px;
            color: #736b40e7;
        }
        p{
            text-decoration: underline;
            text-decoration-color: #8b835349;
            outline: none;
            white-space: pre-line;
            color: black;
        }
    }
    .dragger{
        background-color: darken($CL_PRIMARY, 10);
        height: 20px;
        width: 100%;
        cursor: grab;
    }
}
