---
import Layout from '../layouts/Layout.astro';
import StickyBoard from "../components/client/StickyBoard"
import "../styles/StickyBoard.scss"
---

<Layout title="stickly.">
	<main class="page__board">
		<h1>stickly.</h1>
		<StickyBoard client:load/>
	</main>
</Layout>