---
import Layout from '../layouts/Layout.astro';
import StickyBoard from "../components/client/StickyBoard"
---

<Layout title="Welcome to Astro.">
	<main>
		<StickyBoard client:load/>
	</main>
</Layout>