---
import "../styles/_globals.scss"
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,400;9..40,500;9..40,600;9..40,1000&display=swap"></GoogleFontsOptimizer>
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>